#admin h1 {
  color: white;
}

#admin {
  padding: 170px;
}

#student {
  display: flex;
  background-color: #fff;
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 10px 0px;
}
